TWELVEDATA_API_KEY=your_key_here
DB_URL=jdbc:mysql://localhost:3306/finnexus?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=password
DDL_AUTO=update
SHOW_SQL=true
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000
